* {
    margin: 0;
    font-family: "Montserrat";
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --rootFontSize: 17px;
    /* --rootFontSize: 20px; */
    font-size: var(--rootFontSize);
    scrollbar-color: #6d30ed #090321;
    /* scroll-behavior: smooth; */
}
/* 1230 950 450 */

@media screen and (max-width: 800px) {
    body {
        font-size: 15px;
    }
}

button:hover {
    transform: scale(1.05);
}

input[type="submit"]:hover {
    transform: scale(1.05);
}

button {
    font-family: "Montserrat";
    font-size: var(--rootFontSize);
    background: transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    color: white;
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
}

.disable-button {
    color: #9c9d8e;
    cursor: not-allowed !important;
    border-color: #9c9d8e !important;
    box-shadow: inset 0 0 0 0 #6d30ed !important;
    background: transparent !important;
}

.disable-button:hover {
    transform: scale(1) !important;
    background: transparent !important;
}

input {
    outline: none;
    border: none;
    background: inherit;
    margin-top: 1.5rem;
    display: block;
    border-bottom: 1px solid #fff;
    width: 24rem;
    text-align: center;
    font-size: 1.2rem !important;
    transition: border-bottom 500ms ease-in-out;
    padding-bottom: 0.5rem;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}
input:focus:-moz-placeholder {
    color: transparent;
} /* FF 4-18 */
input:focus::-moz-placeholder {
    color: transparent;
} /* FF 19+ */
input:focus:-ms-input-placeholder {
    color: transparent;
} /* IE 10+ */

input::placeholder {
    text-align: center;
    letter-spacing: 0.1em !important;
    color: white;
    font-weight: 100;
    font-family: "Montserrat" !important;
}

input[type="password"] {
    font: small-caption;
    font-size: 26px;
}

input[type="submit"] {
    border: 1px solid #fff;
    border-radius: 1rem 0;
    cursor: pointer;
}

.loading {
    min-height: 100vh;
    min-width: 100vw;
    background: url(./Backgrounds/MainBackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.status-container {
    position: absolute;
    top: 1.5rem;
    background-color: none;
    width: 100%;
    height: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.status-message {
    position: relative;
    background-color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    width: fit-content;
    height: 1.5rem;
    padding: 5px 30px 5px 20px;
    border-radius: 5px;
    min-width: 150px;
    text-align: center;
    z-index: 100000;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.fail {
    border-left: 0.5rem solid red;
}

.success {
    border-left: 0.5rem solid green;
}

.fa-times {
    color: black;
    font-size: 0.75rem;
    position: absolute;
    right: 8px;
    top: 4px;
    cursor: pointer;
}

.mobile-message {
    position: absolute;
    top: 10rem;
    width: 90%;
    font-size: 2rem;
    font-weight: 600;
    color: #6d30ed;
    display: none;
    text-align: center;
    margin: 0 5%;
    box-sizing: content-box;
}

@media screen and (max-width: 1230px) {
    * {
        --rootFontSize: 15px;
    }
}
@media screen and (max-width: 1100px) {
    input {
        width: 20rem;
    }
}
@media screen and (max-width: 950px) {
    * {
        --rootFontSize: 15px;
    }
}

@media screen and (max-width: 1023px) {
    .mobile-message {
        display: block;
    }
    .footer {
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
    * {
        --rootFontSize: 12.5px;
    }
}

@media screen and (max-width: 330px) {
    * {
        --rootFontSize: 12px;
    }
}

@media screen and (max-width: 635px) {
    .status-container {
        top: 1.5rem;
        height: 1.4rem;
        margin-left: 20px;
        margin-right: 20px;
        box-sizing: border-box;
        width: calc(100% - 40px);
    }
    .status-message {
        font-size: 1rem;
        height: fit-content;
        padding: 5px 25px 5px 15px;
        font-weight: 600;
    }
    .fail {
        border-left: 0.3rem solid red;
    }
    .success {
        border-left: 0.3rem solid green;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.5);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #6930ed;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(105, 48, 237, 0.8);
}

svg {
    width: 120px;
    height: 120px;
    margin: 20px;
    display: inline-block;
}
