*{
  margin: 0;
  font-family: 'Montserrat';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rootFontSize: 20px;
  font-size: var(--rootFontSize);
}


@media screen and (max-width : 800px) {
  body{
  font-size: 15px;
  }
}

button:hover{
  transform: scale(1.05);
}

button {
  font-family: 'Montserrat';
  font-size: var(--rootFontSize);
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: white;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button {
  outline: none;
  border: none;
}

button {
  outline: 0;
}

input {
  outline: none;
  border: none;
  background: inherit;
  margin-top: 1.5rem;
  display: block;
  border-bottom: 1px solid #fff;
  width: 24rem;
  text-align: center;
  font-size: 1.2rem  !important;
  transition: border-bottom 500ms ease-in-out;
  padding-bottom: .5rem;
}


input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

input::placeholder{
  text-align: center;
  letter-spacing: 0.1em !important;
  color: white;
  font-weight: 100;
  font-family: 'Montserrat' !important;
}

input[type="password"]{
  font: small-caption;
    font-size: 26px;
}

input[type="submit"]{
  border: 1px solid #fff;
  border-radius: 1rem 0;
  cursor: pointer;
}

.loading{
    min-height: 100vh;
    min-width: 100vw;
    background: url(./Backgrounds/MainBackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.status-container{
  position: absolute;
  top: 1.5rem;
  background-color: none;
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.status-message{
  background-color: #fff;
  font-size: 1rem;
  font-weight: bold;
  color: #000;
  padding: 0rem 0.5rem;
  width: fit-content;
  height: 1.2rem;
  padding: 5px 20px;
  border-radius: 5px;
}


.mobile-message{
  position: absolute;
  top: 15vh;
  left: 20vw;
  font-size: 2rem;
  font-weight: 600;
  color: #6D30ED;
  display: none;
}



@media screen and (max-width : 1200px) {
  *{
    --rootFontSize: 18px; 
  }
}

@media screen and (max-width : 950px) {
  *{
    --rootFontSize: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .mobile-message{
    display: block;
  }
  .footer{
    display: none;
  }
}

@media screen and (max-width : 450px) {
  *{
    --rootFontSize: 12.5px;
  }
}

