*{
  margin: 0;
  font-family: 'Montserrat';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rootFontSize: 20px;
  font-size: var(--rootFontSize);
}


@media screen and (max-width : 800px) {
  body{
  font-size: 15px;
  }
}

button {
  font-family: 'Montserrat';
  font-size: var(--rootFontSize);
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: white;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button {
  outline: none;
  border: none;
}

button {
  outline: 0;
}

input {
  outline: none;
  border: none;
  background: inherit;
  margin-top: 1.5rem;
  display: block;
  border-bottom: 2px solid #9C9D8E;
  width: 20rem;
  text-align: center;
  font-size: 1rem;
  transition: border-bottom 500ms ease-in-out;
}
input:focus,
input:active{
  border-bottom-color: #FFFFFF;
}
input::placeholder{
  text-align: center;
  letter-spacing: 0.2em;
}

input[type="password"]{
  font-size: 1.2rem;
}

input[type="submit"]{
  border: 1px solid #fff;
  border-radius: 1rem 0;
  cursor: pointer;
}



.mobile-message{
  position: absolute;
  top: 15vh;
  left: 20vw;
  font-size: 2rem;
  font-weight: 600;
  color: #6D30ED;
  display: none;
}



@media screen and (max-width : 1200px) {
  *{
    --rootFontSize: 18px; 
  }
}

@media screen and (max-width : 950px) {
  *{
    --rootFontSize: 15px;
  }
}

@media screen and (max-width: 720px) {
  .mobile-message{
    display: block;
  }
  .footer{
    display: none;
  }
}

@media screen and (max-width : 450px) {
  *{
    --rootFontSize: 12.5px;
  }
}

