*{
  margin: 0;
  font-family: 'Montserrat';
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --rootFontSize: 20px;
  font-size: var(--rootFontSize);
}


@media screen and (max-width : 800px) {
  body{
  font-size: 15px;
  }
}

button {
  font-family: 'Montserrat';
  font-size: var(--rootFontSize);
  background: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
  color: white;
}

button {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

button {
  outline: none;
  border: none;
}

button {
  outline: 0;
}

input {
  outline: none;
  border: none;
  background: inherit;
  margin-top: 1.5rem;
  display: block;
  border-bottom: 2px solid #9C9D8E;
  width: 20rem;
  text-align: center;
  font-size: 1rem;
  transition: border-bottom 500ms ease-in-out;
}
input:focus,
input:active{
  border-bottom-color: #FFFFFF;
}
input::placeholder{
  text-align: center;
  letter-spacing: 0.2em;
}

input[type="password"]{
  font-size: 1.2rem;
}

input[type="submit"]{
  border: 1px solid #fff;
  border-radius: 1rem 0;
  cursor: pointer;
}

.loading{
    min-height: 100vh;
    min-width: 100vw;
    background: url(./Backgrounds/PlainBackground.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading .loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.status-container{
  position: absolute;
  top: 2.5vh;
  background-color: none;
  width: 100%;
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.status-message{
  background-color: #8060c6;
  font-size: 1rem;
  font-weight: bold;
  color: #fff;
  padding: 0rem 0.5rem;
  width: fit-content;
  height: fit-content;
}

.mobile-message{
  position: absolute;
  top: 15vh;
  left: 20vw;
  font-size: 2rem;
  font-weight: 600;
  color: #6D30ED;
  display: none;
}



@media screen and (max-width : 1200px) {
  *{
    --rootFontSize: 18px; 
  }
}

@media screen and (max-width : 950px) {
  *{
    --rootFontSize: 15px;
  }
}

@media screen and (max-width: 1050px) {
  .mobile-message{
    display: block;
  }
  .footer{
    display: none;
  }
}

@media screen and (max-width : 450px) {
  *{
    --rootFontSize: 12.5px;
  }
}

