.admin {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    background-image: url(../Backgrounds/MainBackground.png);
    background-size: cover;
    background-position: right bottom;
    scrollbar-color: #6d30ed #090321;
}

textarea {
    resize: none;
    margin-left: 3vw;
    border: 2px solid black;
    box-shadow: none;
    outline: none;
    font-size: 20px;
}

.admin > h3 {
    margin-left: 3vw;
}
.short {
    width: 40vw;
    height: 1.5rem;
    border-radius: 25px;
    margin-top: 1rem;
    padding-left: 0.6rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.long {
    width: 80vw;
    height: 20vh;
    border-radius: 30px;
    margin-top: 1rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.2);
}

.admin-submit {
    position: relative;
    left: 5vw;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.admin-error {
    position: relative;
    left: 45vw;
}
