#attack-nav {
    position: absolute;
    padding: 0;
    height: 100%;
    top: 3rem;
    left: 0px;
    width: 4vw;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #f23d49;
    transition: width 500ms ease-out;
}

.attack-list {
    list-style: none;
    padding: 0px;
    margin: 0px 0px 0px 5px;
}

.attack {
    width: 18vw;
    height: 5rem;
    margin-bottom: 0.5rem;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: yellow;
}
