.footer {
    position: fixed;
    bottom: 0;
    height: 5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    z-index: 1;
    background: inherit;
    overflow: hidden;
}

.footer:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(2px);
    margin: -20px;
}

.info-container {
    margin-left: 8vw;
    position: relative;
}

.info-container p {
    font-size: 1.2rem;
    text-align: center;
    font-weight: 300;
}

.info-container .field-value {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    background-color: inherit !important;
}
.number {
    font-size: 1.2rem;
    margin-top: 0.3rem;
}

#btn-attackers {
    box-sizing: border-box;
    border: 2px solid white;
    border-radius: 10px 0px;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#new-attacks-counter {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 0.75rem;
    font-weight: 600;
    background-color: #3f1a81;
    cursor: pointer;
    position: absolute;
    right: -0.2rem;
    top: -0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0.1rem;
}

.attack-active {
    background-color: #9c9d8e;
    color: black;
}

.glow {
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        box-shadow: 0 0 10px #fff, 0 0 12px #fff, 0 0 15px #fff;
    }
    to {
        box-shadow: 0 0 10px #fff, 0 0 5px #fff, 0 0 0px #fff;
    }
}

@media screen and (max-width: 1300px) {
    .info-container {
        margin-left: 6vw;
    }
}

@media screen and (max-wdith: 950px) {
    .info-container {
        margin-left: 0px;
    }
}

@media screen and (max-width: 720px) {
    .footer {
        display: none;
    }
}
