.leaderboard-page {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    z-index: -1;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.status-container{
    position: absolute;
    top: 2.5rem;
    background-color: none;
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.attack-status{
    background-color:  #8060c6;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 0rem 0.5rem;
    width: fit-content;
    height: fit-content;
}

.leaderboard-container {
    position: relative;
    left: 5vw;
    top: 5rem;
    width: 95vw;
    height: calc(100vh - 10rem);
    overflow: auto;
    scrollbar-color: #6d30ed #090321;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

#current-player {
    color: #6d30ed;  
}

.leaderboard-button {
    border: 1px solid #ffffff;
    padding: 0.6rem 2.8rem;
    box-sizing: border-box;
    border-radius: 10px 0px;
    display: block;
}

.leaderboard-container > h3 > span {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: pointer;
}

td,
th {
    /* border: 1px solid #999; */
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 0rem;
    width: 25vw;
}
.leaderboard-table {
    /* border: 1px solid salmon; */
    position: relative;
    top: 2rem;
    padding: 0px;
}
.leaderboard-table{
    padding: 0;
    margin: 0;
}
.attackers-table {
    position: relative;
    top: 2rem;
    padding: 0;
    margin: 0;
    left: 0;
}

.table-heading {
    color: #6d30ed;
    text-align: center;
}
.table-space {
    width: 15rem;
}

.table-space-attack {
    width: 5rem;
}
.leaderboard-table-heading {
    color: #6d30ed;
    font-weight: 400;
}

#slash {
    margin-left: 1rem;
    margin-right: 1rem;
}

.fade {
    color: #9C9D8E;
}

.disable-button{
    background-color: #9C9D8E;
    cursor: default;
}

#no-attacks{
    position: absolute;
    top: 25vh;
    left: 10vw;
    font-size: 1.5rem;
    color: #6d30ed;
}

@media screen and (max-width: 950px) {
    .questions-container {
        left: 10vw;
        width: 90vw;
    }
    .leaderboard-button{
        padding: 0.6rem 1.5rem;
    }
}




@media screen and (max-width: 720px) {
    .leaderboard-container{
        display: none;
    }
}