.leaderboard-page {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    z-index: -1;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.leaderboard-container {
    position: absolute;
    left: 10vw;
    top: 5rem;
    width: 90vw;
    height: calc(100vh - 10rem);
    overflow: auto;
    scrollbar-color: #6d30ed #090321;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

#current-player {
    color: #6d30ed;  
}

.leaderboard-button {
    border: 1px solid #ffffff;
    padding: 0.6rem 2.4rem;
    box-sizing: border-box;
    border-radius: 10px 0px;
    display: block;
}

.leaderboard-button:hover {
    background-color: #9c9d8e;
    color: black;
    transition: all 0.3s ease;
}

.leaderboard-container > h3 > span {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: pointer;
}

td,
th {
    /* border: 1px solid #999; */
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem;
    width: 20rem;
}
.leaderboard-table {
    /* border: 1px solid salmon; */
    position: relative;
    left: -5rem;
}

.attackers-table {
    position: relative;
    left: -4rem;
}

.table-heading {
    color: #6d30ed;
    text-align: center;
}
.table-space {
    width: 15rem;
}

.table-space-attack {
    width: 5rem;
}
.leaderboard-table-heading {
    color: #6d30ed;
    font-weight: 400;
}

@media screen and (max-width: 950px) {
    .questions-container {
        left: 10vw;
        width: 90vw;
    }
}

#slash {
    margin-left: 1rem;
    margin-right: 1rem;
}

.fade {
    color: #9c9d8e;
}
