.login-page{
    min-height: 100vh;
    min-width: 100vw;
    background: url("../Backgrounds/SecondaryBackground.png") no-repeat;
    background-size: cover;
    background-position: left top right bottom;
    --h2MarginTop: 12vh;
    --h3MarginTop: 6.5vh;
}

.login-container{
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}


.login-container > h2 {
    font-weight: bold;
    font-size: 2.5rem;
    letter-spacing: 0.35em;
    line-height: 73px;
    margin-top: var(--h2MarginTop);
}

.login-container > h3 {
    margin-top: var(--h3MarginTop);
    font-weight: 600;
    font-size: 2rem;
    letter-spacing: 0.2em;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
}

.register-form{
    margin-top: 0.5vh;
}

.login-submit-btn{
    padding: 0.5rem 0.3rem;
    width: 8rem;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.register-submit-btn{
    padding: 0.5rem 0.8rem;
    width: 9rem;
    letter-spacing: 0.2em;
    font-weight: 700;
}

.btn-login{
    letter-spacing: 0.2em;
    margin-top: 1.5vh;
}

.btn-login:hover{
    letter-spacing: 0.4em;
}


.status-container{
    position: absolute;
    top: 3.5vh;
    background-color: none;
    width: 100%;
    height: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.login-status{
    background-color:  #8060c6;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    padding: 0rem 0.5rem;
    width: fit-content;
    height: fit-content;
}


@media screen and (max-height : 850px) {
    .login-page{
        --h2MarginTop: 6vh;
        --h3MarginTop: 3.5vh;
    }
}


@media screen and (max-height : 680px) {
    .login-page{
        --h2MarginTop: 3vh;
        --h3MarginTop: 1.5vh;
    }   
}


@media screen and (max-width: 1200px) {
    .login-container > h2{
        font-size: 2rem;
    }
    .login-container > h3 {
        font-size: 1.6rem;
    }   

}

@media screen  and (max-width: 1050px) {
    .login-page{
        background-image: url(../Backgrounds/PlainBackground.png);
    }
    .login-container{
        width: 100vw;
    }
}

@media screen and (max-width: 500px) {
    .login-container > h2 {
        font-size: 1.5rem;
    }
    .login-container > h3{
        font-size: 1.2rem;
    }
}




