.navbar{
    width: 100vw;
    position:fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 1.5rem;
    z-index: 3;
}

.btn-nav {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    margin-right: 5vw;
  }

  #logout-btn{
    border: 1px solid #FFFFFF;
    padding: 0.6rem 1.5rem;
    box-sizing: border-box;
    border-radius: 10px 0px
  }