.navbar{
    width: 100vw;
    position:fixed;
    display: flex;
    flex-direction: row-reverse;
    top: 1.5rem;
    z-index: 3;
}

.btn-nav {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    margin-right: 4vw;
    font-weight: 500;
    font-size: 1.2rem;
  }

  #logout-btn{
    border: 2px solid #FFFFFF;
    padding: 0.6rem 2rem;
    box-sizing: border-box;
    border-radius: 10px 0px;
  }