.question {
    height: 10vh;
    width : 70vw;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}


.difficulty{
    position: absolute;
    right: 2vw;
    top: 1vh;
}

.question-name{
    position: absolute;
    font-size: 24;
    font-weight: 600;
    right: 50%;
    top: 2vh;
}
.unlock-btn{
    font-weight: 800;
    position: absolute;
    right: 2vw;
    bottom: 1vh;
}
.points{
    position: absolute;
    top: 1vh;
    left: 1vw;
}

.cost{
    position: absolute;
    bottom: 1vh;
    left: 1vw;
}