.questions-page{
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    z-index: -1;
}
.header{
    width: 100vw;
    height: 3rem;
    border-bottom: 2px solid black;
    position:fixed;
    display: inline-flex;
    z-index: 3;
    background-color: white;
}
button {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
    cursor: pointer;
    padding: 0;
    margin: 0;
    font-size: 20px;
  }
  
  button:hover {
    background: transparent;
    box-shadow: 0px 0px 0px transparent;
    border: 0px solid transparent;
    text-shadow: 0px 0px 0px transparent;
  }
  
  button:active {
    outline: none;
    border: none;
  }
  
  button:focus {
    outline: 0;
  }

.header button{
    margin-left: 12vw;
}

.questions-container{
  position: absolute;
  left : 20vw;
  top : 5rem;
  display: flex;
  flex-direction: column;
}

