.questions-page {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    z-index: -1;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
}

.questions-container::-webkit-scrollbar {
    background-color: #090321 #6d30ed;
}

body::-webkit-scrollbar {
    width: 1em;
    color: #6d30ed;
    background-color: #6d30ed;
}

html {
    scroll-behavior: smooth;
}

.questions-container {
    position: absolute;
    left: 15vw;
    top: 5rem;
    width: 85vw;
    height: calc(100vh - 10rem);
    overflow: auto;
    scrollbar-color: #6d30ed #090321;
}
.questions-container > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

@media screen and (max-width: 950px) {
    .questions-container {
        left: 10vw;
        width: 90vw;
    }
}

.answer-info {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.submit-message {
    font-weight: 700;
    color: #6d30ed;
}
