.question-page {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    z-index: -1;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
}

html {
    scroll-behavior: smooth;
}

.question-container {
    position: absolute;
    left: 15vw;
    top: 5rem;
    width: 85vw;
    height: calc(100vh - 10rem);
    overflow: auto;
    scrollbar-color: #6d30ed #090321;
}

.question-container > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.answer-textarea {
    background: rgba(196, 196, 196, 0.1);
    backdrop-filter: blur(140.2px);
    border-radius: 30px;
}
