.question {
    height: 6.5rem;
    width : 70vw;
    padding: 0px;
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}


.difficulty{
    position: absolute;
    right: 1vw;
    top: 0.5vh;
}

p{
    margin: 0;
}

.question-name{
    position: absolute;
    font-size: 24;
    font-weight: 600;
    right: 45%;
    top: 2vh;
}
.unlock-btn{
    position: absolute;
    right: 1vw;
    bottom: 1vh;
}
.points{
    position: absolute;
    top: 1vh;
    left: 1vw;
}

.cost{
    position: absolute;
    bottom: 1vh;
    left: 1vw;
}