.questions-page{
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    z-index: -1;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
}

html{
  scroll-behavior: smooth;
}

.questions-container{
  position: absolute;
  left : 20vw;
  top : 5rem;
  width: 80vw;
  height: calc(100vh - 5rem);
  overflow: auto;
  scrollbar-color: #6D30ED #090321;

}
.questions-container > h3{
  font-size: 1.5rem;
  font-weight: 1000;
}

