.question-page {
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    z-index: -1;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
}

html {
    scroll-behavior: smooth;
}

.question-container {
    /* border: 2px solid red; */
    position: absolute;
    top: 5rem;
    width: 90vw;
    left: 10vw;
    height: calc(100vh - 10rem);
    overflow: auto;
    scrollbar-color: #6d30ed #090321;
    line-height: 4vh;

}

.question-markdown {
    margin-right: 5rem;
}

.question-container > h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.answer-container,
.test-case-container {
    margin-top: 2rem;
}
.question-container> h2,
.answer-container > h2,
.test-case-container > h2 {
    color: #8060c6;
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
    font-weight: 700;
}

.testcase-container {
    width: 45vw;
    height: 12rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: rgba(196, 196, 196, 0.1);
    backdrop-filter: blur(140.2px);
    border-radius: 1.2rem;
    padding: 0.8rem;
    word-wrap: break-word;
}

.test-case-header {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(128, 96, 198, 0.5);
    padding: 0.5rem;
}

#test-case {
    width: 100%;
    height: 10rem;
    background-color: rgba(128, 96, 198, 0.2);
    border-radius: 10px;
    padding: 0.1rem;
    overflow: auto;
}

#attempts-left {
    font-weight: 500;
    margin-bottom: 1rem;
}

.answer-textarea {
    background: rgba(196, 196, 196, 0.1);
    backdrop-filter: blur(140.2px);
    border-radius: 30px;
    margin-left: 0; 
    padding: 1rem;
    width: 92%;
    height: 20rem;
    border: none;
}

.answer-button {
    position: relative;
    margin-top: 1rem;
    left: 40%;
    border: 1px solid #ffffff;
    padding: 0.5rem 0.8rem;
    box-sizing: border-box;
    border-radius: 10px 0px;
}

.copy-btn{
    border: 1px #fff;
    margin-top: 1rem;
    color: #8060c6;
    font-weight: 600;
}

.answer-button:hover {
    background-color: #9c9d8e;
    color: black;
    transition: all 0.3s ease;
}



@media screen and (max-width: 720px) {
    .question-container{
        display: none;
    }
}