.question {
    height: 5rem;
    width : 80vw;
    position: relative;
    border: 3px solid #6D30ED;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    border-radius: 30px 0px;
    margin-bottom: 1.5rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    --lockRight : 4vw;
    --lockWidth : 10rem;
    --pointsRight: 2vw;
    --solvedRight: 10vw; 
}

.question > * {
    position: absolute;
    font-size: 1.35rem;
}

.question > .index{
    left: 2vw;
    font-weight: 700;
}

.question > .question-name{
    left: 5vw;
    font-weight: 500;
}

.question > .question-lock{
    right: var(--lockRight);
    width: var(--lockWidth);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px 0px;
    font-weight: 400;
    padding: 0.6rem 0.2rem;
}

.question > .question-points{
    right: calc( var(--lockRight) + var(--lockWidth) + var(--pointsRight));
    font-weight: 700;
}

.question > .question-solved{
    right: calc(var(--lockRight) + var(--lockWidth) + var(--pointsRight) + var(--solvedRight));
    color: #9C9D8E;
    font-weight: 500;
}

@media screen  and (max-width: 1000px) {
    .question > *{
        font-size: 1.2rem;;
    }
    .question > .question-lock {
        font-size: 1rem;
    }
}

@media screen and (max-width : 950px) {
    .question{
      width: 85vw;
      --solvedRight: 10vw;
    }
}