.question {
    height: 4.55rem;
    width: 80vw;
    position: relative;
    border: 3px solid #6d30ed;
    box-sizing: border-box;
    filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.25));
    border-radius: 30px 0px;
    margin-bottom: 1.3rem;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    --lockRight: 1.5vw;
    --lockWidth: 10rem;
    --pointsRight: 2vw;
    --solvedRight: 10vw;
}

.questionLocked{

}

.question > * {
    position: absolute;
    font-size: 1.3rem;
}

.question > .index {
    left: 2vw;
    font-weight: 700;
}

.question > .question-name {
    left: 5vw;
    font-weight: 500;
}

.question > .question-lock {
    right: var(--lockRight);
    width: var(--lockWidth);
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px 0px;
    font-weight: 500;
    padding: 0.6rem 0.2rem;
    transition: all 0.3s ease;}

.question > .question-points {
    right: calc(var(--lockRight) + var(--lockWidth) + var(--pointsRight));
    font-weight: 700;
}

.question > .question-solved {
    right: calc(
        var(--lockRight) + var(--lockWidth) + var(--pointsRight) +
            var(--solvedRight)
    );
    color: #9c9d8e;
    font-weight: 500;
}

@media screen and (max-width: 1000px) {
    .question > * {
        font-size: 1.2rem;
    }
    .question > .question-lock {
        font-size: 1rem;
    }
}

@media screen and (max-width: 950px) {
    .question {
        width: 85vw;
        --solvedRight: 10vw;
    }
}

.fa-user {
    color: inherit !important;
}
