.body{
    padding: 0;
    margin: 0;
}

.register-page{
    display: flex;
    flex-direction: column;
    align-items:center; 
    justify-content: stretch; 
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.container{
    border-radius: 25px;
    border: 2px solid red;
    display: flex;
    padding: 10px;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    height: 350px;
    width: 550px;
}

.container input{
    margin: 15px;
}