.rules {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
    overflow-x: hidden;
}

.rules-page-container {
    width: 75vw;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
}

.rules-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 60px;
}
.rules-nav> h2 {
    font-size: 3rem;
    letter-spacing: 0.2em;
    color: #6d30ed;
}

.rules-nav> .logout-btn {
    font-weight: 500;
    font-size: 1.4rem;
    width: 15vh;
    text-align: right;
}

.rules-nav> .back-btn {
    font-weight: 500;
    font-size: 1.4rem;
    width: 15vh;
    text-align-last: left;
}

.rules-list {
    word-spacing: 0.15rem;
    line-height: 1.8rem;
}

.rules-list > li {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.rules-list > li::marker {
    font-weight: bold;
    color: #6d30ed;
    font-size: 1.8rem;
}

.countdown-container {
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}

.countdown-container > h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.countdown-container > span {
    color: #6d30ed;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
}

.contactusbtn{
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    border: 4px solid #6d30ed;
    border-radius: 550px;
    text-align: center;
    width: fit-content;
    letter-spacing: 0.2rem;
    padding: 10px 30px;
}


@media screen and (max-width: 1530px) {
    .rules-page-container {
        width: 85vw;
    }
}

@media screen and (max-width: 1200px) {
    .rules-page-container {
        width: 90vw;
    }
    .rules{
        background: #090909;
    }
}

@media screen and (max-width: 750px) {
    .countdown-container > span {
        font-size: 1.2rem;
    }
    .contactusbtn{
        width: 200px;
    }
}

@media screen and (max-width: 600px) {
    .rules-list > li {
        font-size: 1rem;
    }
    
    .rules-list > li::marker {
        font-size: 1.4rem;
    }
    .rules-list {
        line-height: 1.5rem;
    }
    .rules-nav> h2 {
        font-size: 2.3rem;
    }
    
    .rules-nav> .logout-btn {
        font-size: 1.3rem;
    }
    
    .rules-nav> .back-btn {
        font-size: 1.3rem;
    }
    .rules-nav{
        margin-bottom: 30px;
    }
    .contactusbtn{
        font-size: 1rem;
        padding: 10px 20px;
    }
}
