.rules{
    height: 100vh;
    max-height: 100vh;
    max-width: 100vw;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rules-container{
    position: relative;
    height: 75vh;
    width: 40vw;
    border: 2px solid #6D30ED;
    border-radius: 1.5rem;
    padding: 1rem;
    overflow-x: hidden;
}

.rules-container > h2{
    font-size: 1.2rem;
    letter-spacing: 0.1em; 
    position: absolute;
    left: 45%;
} 


.rules-list{
    position: absolute;
    top: 4rem;
    word-spacing: 0.15rem;
}
.rules-list > li{
    margin-top: 1rem;
}

@media screen and (max-width : 1200px) {
    .rules-container{
        width: 60vw;
    }
}

@media screen and (max-width : 950px) {
    .rules-container{
        width: 80vw;
    }
}