@font-face {
    font-family: 'joystixmonospace';
    src: url('../font/joystix.monospace-webfont.woff2') format('woff2'),
         url('../font//joystix.monospace-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.rules {
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-height: 100vh;
    background: url("../Backgrounds/MainBackground.png") no-repeat;
    background-size: cover;
    background-position: right bottom;
    overflow-x: hidden;
}

.rules-page-container {
    width: 75vw;
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 0 auto;
}

.rules-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-bottom: 60px; */
}
.rules-page-container> h2 {
    font-size: 3rem;
    letter-spacing: 0.2em;
    color: #6d30ed;
    text-align: center;
    margin-bottom: 40px;
}

.rules-nav> .logout-btn {
    font-weight: 500;
    font-size: 1.4rem;
    width: 15vh;
    text-align: right;
}

.rules-nav> .back-btn {
    font-weight: 500;
    font-size: 1.4rem;
    width: 15vh;
    text-align-last: left;
}

.rules-list {
    word-spacing: 0.15rem;
    line-height: 1.8rem;
    padding-inline-start: 6vw !important;
}

.rules-list > li {
    margin-top: 1rem;
    font-size: 1.3rem;
}

.rules-list > li > b{
    font-size: inherit;
}

.rules-list > li::marker {
    font-weight: bold;
    color: #6d30ed;
    font-size: 1.8rem;
}

.countdown-container {
    padding-bottom: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 60px;
}

.countdown-container > h2 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
    padding: 0 10px;
}

.countdown-container > div {
    color: #6d30ed;
    font-size: 2rem;
    letter-spacing: 0.2rem;
    font-weight: 800;
    display: inline-block;
    padding: 0 10px;
    font-family: 'joystixmonospace';
    text-shadow: 2px 2px #000;
}

.contactusbtn{
    display: block;
    margin: 0 auto;
    font-size: 1.2rem;
    font-weight: 400;
    border: 4px solid #6d30ed;
    border-radius: 550px;
    text-align: center;
    width: fit-content;
    letter-spacing: 0.15rem;
    padding: 10px 30px;
}

.hide-ctdn{
    display: none !important;
}

@media screen and (max-width: 350px){
    .countdown-container{
        font-size: .8rem !important;
    }
}

@media screen and (max-width: 1530px) {
    .rules-page-container {
        width: 85vw;
    }
}

@media screen and (max-width: 1200px) {
    .rules-page-container {
        width: 90vw;
    }
    .rules{
        background: #090909;
    }
}

@media screen and (max-width: 750px) {
    .countdown-container > span {
        font-size: 1.2rem;
    }
    .contactusbtn{
        width: 100%;
        padding: 10px 0;
        border: 3px solid #6d30ed;
    }
    .rules-list > li::marker {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 600px) {
    .rules-list > li {
        font-size: 1rem;
    }
    
    .rules-list > li::marker {
        font-size: 1.2rem;
    }
    .rules-list {
        line-height: 1.5rem;
    }
    .rules-nav> h2 {
        font-size: 2.3rem;
    }
    
    .rules-nav> .logout-btn {
        font-size: 1.3rem;
    }
    
    .rules-nav> .back-btn {
        font-size: 1.3rem;
    }
    .rules-nav{
        margin-bottom: 30px;
    }
    .contactusbtn{
        font-size: 1rem;
        padding: 10px 0px;
        border: 2px solid #6d30ed;
    }
}